
<!-- 用户登录或注册成功后来到的欢迎界面 -->
<html>
	<head>
		<title>欢迎您</title>
		<style type="text/css">
			.left-right{float: left;}
		</style>
		<link rel="stylesheet" href="{$url}Public/easyui/themes/default/easyui.css"/>
		<link rel="stylesheet" href="{$url}Public/easyui/themes/icon.css"/>
		<script type="text/javascript" src="{$url}Public/bootstrap/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{$url}Public/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="{$url}Public/easyui/locale/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript">
		 
		function addTabs($title,$url){
			$('#Tab1').tabs('add',{    
			    title:$title,
			    selected:true,
			    closable:true,
			    content:'<iframe src="'+$url+'" width="100%" height="100%" frameborder="0"></iframe>'  
			}); 
			
		}
		</script>
	</head>
	<body class="easyui-layout"> 
        <div data-options="region:'north',split:true" style="height:30px;">
        	欢迎您，{$Think.session.loginUser.turename}
        	
        	<b><a href="login.php">退出</a></b>
        	
        </div> 
        
        <div data-options="region:'west',title:'系统菜单',split:true" style="width:180px;">
        	<ul id="tt" class="easyui-tree">   
        		<volist name="Think.session.menus" id="m1">
        			<if condition="$m1.mlevel eq 1"><!--如果是二级菜单-->
        				<li>
        					<span>{$m1.mname}</span>
        					<ul>
        						<assign name="mid" value="$m1.mid"/>
	        					<volist name="Think.session.menus" id="m2">
	        						<if condition="$m2.mlevel eq 2 AND $m2.mparentid eq $mid"><!--如果是三级菜单-->
	        							<li>
	        								<a href="javascript:addTabs('{$m2.mname}','{$url}{$m2.murl}')">{$m2.mname}</a>
	        							</li>
	        						</if>
	        					</volist>
        					</ul>
        				</li>
        			</if>
        		</volist>
            </ul>
        </div>   
        <div data-options="region:'center'" style="background:#eee;" class="easyui-layout">
        	<div data-options="region:'center'" style="background:#eee;">
            	<div id="Tab1" class="easyui-tabs" data-options="fit:true"> 
                    <div title="welcome" >   
                        <div id="cc" class="easyui-calendar"  data-options="fit:true"></div>   
                    </div>  
                </div>
           </div>  
        </div>   
    </body>  
</html>