<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>展示活动页面</title>
		<link rel="stylesheet" href="{$BASEPATH}Public/bootstrap/css/bootstrap.css" />
		<script type="text/javascript" src="{$BASEPATH}Public/bootstrap/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="{$BASEPATH}Public/bootstrap/js/bootstrap.min.js" ></script>
		<style type="text/css"></style>
		<script type="text/javascript">
		
		</script>
	</head>
	<body>
		<iframe frameborder=0 width=170 height=100 marginheight=0 marginwidth=0 scrolling=no src="showAddPlatformActicity.html"></iframe>
	
		<iframe frameborder=0 width=170 height=100 marginheight=0 marginwidth=0 scrolling=no src=""></iframe>
	</body>
</html>