<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>单车一览</title>
		<link rel="stylesheet" href="{$BASEPATH}Public/bootstrap/css/bootstrap.css" />
		<script type="text/javascript" src="{$BASEPATH}Public/bootstrap/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="{$BASEPATH}Public/bootstrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript">
			//跳转页面，type=0表示按值跳转，type=1表示向前跳转，type=2表示向后跳转
			function turnPage(pageNo,pageSize,type=0){
				if(type == 2){
					window.location.href="{$BASEPATH}index.php/Home/Bike/loadBikeByPage?pageNo="+(pageNo+1);
				}else if(type == 1){
					if(pageNo == 1){
						alert("当前已经是第一页了");
					}else{
						window.location.href="{$BASEPATH}index.php/Home/Bike/loadBikeByPage?pageNo="+(pageNo-1);
					}
				}else{
					window.location.href="{$BASEPATH}index.php/Home/Bike/loadBikeByPage?pageNo="+pageNo;
				}
			}
			function addOrUpdateHouse(type){
				$("#cancel").click();
				if(type == 0){
					$("#hId").val(-1);
					$("#openWin").click();
				}else{
					hid = $("#mytable input:checked");
					if(hid.length == 0){
						alert("对不起，请先选择一行进行编辑！！！");
						return;
					}
					if(hid.length > 1){
						alert("对不起，您只能选择一行进行编辑！！！");
						return;
					}
					if (confirm("你确定修改吗？")) {
						var hid = hid.eq(0).val();
						$("#hId").val(hid);
	        			$.post("<?php echo URLROOT?>/index.php/Home/User/loadPickHouse?hId="+hid,function(data){
	        				$("#hArea").val(data["harea"]);
		        			$("#hDevelop").val(data["hdevelop"]);
		        			$("#hPrice").val(data["hprice"]);
		        			$("#hSort").val(data["hsort"]);
		        			$("#hMore").val(data["hmore"]);
	                   	},"json");
						$("#openWin").click();
			        }
				}
			}
		</script>
	</head>
	<body>
		<div style="margin:1%;">
			<button style="display:none;" "button" data-toggle="modal" data-target="#myModal" id="openWin">
			<button type="button" onclick="addOrUpdateHouse(0)" class="btn btn-sm-info"><span class="glyphicon glyphicon-plus"></span>新增</button>
			<button type="button" onclick="addOrUpdateHouse(1)" class="btn btn-sm-info"><span class="glyphicon glyphicon-pencil"></span>修改</button>
			<button type="button" class="btn btn-sm-info"><span class="glyphicon glyphicon-trash"></span>删除</button>
		</div>
		<table id="mytable" class ="table table-hover table-bordered table-striped" style = "width: 98%;margin:1%">
			<tr>
				<th><input type="checkbox"/>多选框</th>
				<th>单车编号</th>
				<th>单车是否正在被使用</th>
				<th>单车车况</th>
				<th>单车所在位置</th>
				<th>单车总计行程</th>
			</tr>
			<volist name="page.rows" id="m1">
				<tr>
					<td><input type="checkbox" value="{$m1.bid}"/></td>
					<td>{$m1.bid}</td>
					<td>
						<if condition="($m1.bisused eq 0)">否
						<else/>是
						</if>
					</td>
					<td>
						<if condition="($m1.bstate eq 0)">正常
						<elseif condition="$m1.bstate eq 1"/>损坏
						<else/>报废
						</if>
					</td>
					<td>{$m1.bposition}</td>
					<td>{$m1.ballroute}</td>
				</tr>
			</volist>
		</table>
		<div style="margin-top:20px;" class="text-center">
			<ul class="pagination" style="margin-top: -10px;">
				<li><a href="javascript:void(0);">当前第<span style="color:red;">{$page.pageNo}</span>页</a></li>
                <li><a href="javascript:turnPage({$page.pageNo},2,1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li><a href="javascript:turnPage(1,2);">1</a></li>
                <li><a href="javascript:turnPage(2,2);">2</a></li>
                <li><a href="javascript:turnPage(3,2);">3</a></li>
                <li><a href="javascript:turnPage(4,2);">4</a></li>
                <li><a href="javascript:turnPage(5,2);">5</a></li>
                <li><a href="javascript:turnPage({$page.pageNo},2,2);" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                <li><a href="javascript:void(0);">共<span style="color:red;">{$page.total}</span>条记录</a></li>
           	</ul>
		</div>
	</body>
</html>