<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户一栏</title>  
		<link rel="stylesheet" href="../../../Public/bootstrap/css/bootstrap.css" />
		<script type="text/javascript" src="../../../Public/bootstrap/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="../../../Public/bootstrap/js/bootstrap.min.js" ></script>
	</head>
	<body>
		<div>
			<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-save"></span>导出</button>
		</div>
		<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th><input type="checkbox"/></th>
			<th>编号</th>
			<th>账号</th>
			<th>密码</th>
			<th>姓名</th>
			<th>余额</th>
			<th>积分</th>
			<th>信用</th>
			<th>是否冻结</th>
			<th>押金</th>
			<th>用车时间</th>
			<th>是否正在用车</th>
		</tr>
		<foreach name="page.rows" item="u">
			<tr>
				<td><input type="checkbox" name="uids" value="{$u.uid}"/></td>
				<td>{$u.uId}</td>
				<td>{$u.uAccount}</td>
				<td>{$u.uPassword}</td>
				<td>{$u.uTrueName}</td>
				<td>{$u.uMoney}</td>
				<td>{$u.uCredit}</td>
				<td>{$u.uIntegral}</td>
				<td>{$u.uIsFrozen}</td>
				<td>{$u.uPledge}</td>
				<td>{$u.uAllTime}</td>
				<td>{$u.uState}</td>
			</tr>
		</foreach>
	</table>
	<nav aria-label="Page navigation" class="text-center">
		<ul class="pagination">
			<li><a href="javascript:aa(0);">当前显示第{$page.pageNo}页</a></li>
		    <li>
		      	<a href="javascript:bb({$page.pageNo},{$page.pageSize},-1);" aria-label="Previous">
		        	<span aria-hidden="true">&laquo;</span>
		      	</a>
		    </li>
		    <li><a href="javascript:bb({$page.pageNo},{$page.pageSize},1);">1</a></li>
		    <li><a href="javascript:bb({$page.pageNo},{$page.pageSize},2);">2</a></li>
		    <li><a href="javascript:bb({$page.pageNo},{$page.pageSize},3);">3</a></li>
		    <li><a href="javascript:bb({$page.pageNo},{$page.pageSize},4);">4</a></li>
		    <li><a href="javascript:bb({$page.pageNo},{$page.pageSize},5);">5</a></li>
		    <li>
		      	<a href="javascript:bb({$page.pageNo},{$page.pageSize},0);" aria-label="Next">
		        	<span aria-hidden="true">&raquo;</span>
		      	</a>
		    </li>
		    <li><a href="javascript:aa(0);">共{$page.total}条数据</a></li>
		</ul>
	</nav>
	</body>
</html>