<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>信用记录</title>
		<link rel="stylesheet" href="{$BAH}Public/bootstrap/css/bootstrap.css" />
		<script type="text/javascript" src="{$BAH}Public/bootstrap/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="{$BAH}Public/bootstrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript">
		function turnpage(pageNo,pageSize,type){
			if(type == -1){
				pageNo = pageNo-1;
				if(pageNo == 0){
					alert("已经是第一页了");
					return;
				}
			}else if(type == 0){
				pageNo = pageNo+1;
				var a=parseInt({$page.total} / pageSize);
				var b=parseInt({$page.total} % pageSize);
				if(b > 0){
					a +=1;
				}
				if(pageNo > a){
					alert("已经是最后一页了");
					return;
				}
				
			}else{
				pageNo = type;
				
			}
			location.href="{$BAH}index.php/Home/User/setCredit?pageNo="+pageNo+"&pageSize="+pageSize;
		}
		function set(){
			$("#dg").datagrid('loading');
			$.post("{$BAH}index.php/Home/User/setCredit",{
				"searcheIntegral" : $("#searcheIntegral").val(),
			},function(data){
				$("#dg").datagrid("loadData",{
					rows:data.rows,
					total:data.total
				});
				$("#dg").datagrid('loaded');
			},"json");
		}
		
		</script>
	</head>
	<body>
		<form action="{$BAH}index.php/Home/User/setCredit" method="post"  id="dg">
			<div style="margin:auto;">
				<div class="input-group">
					<span style="width: 155px" class="input-group-addon">按信用搜索</span>
					<select class="form-control" style="width: 180px" id="searcheIntegral" name="searcheIntegral">
						<option value="">请选择信用程度</option>
						<option value="0">很差</option>
						<option value="1">较差</option>
						<option value="2">一般</option>
						<option value="3">良好</option>
						<option value="4">非常好</option>
					</select>
				</div>
				<div>
					<button type="submit" style="width: 150px" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>搜索</button>
					<button type="reset" style="width: 150px" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>重置搜索</button>
					<button type="button" style="width: 150px" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>导出</button>
				</div>
			</div>
		</form>
		<table class="table table-striped table-bordered table-condensed" style="margin-top:1%;">
			<tr>
				<th><input type="checkbox" /></th>
				<th>编号</th>
				<th>信用</th>
			</tr>
			<foreach name="page.rows" item="u">
				<tr>
					<td><input type="checkbox" name="cbx" value="{$u.uid}"/></td>
					<td>{$u.uid}</td>
					<td>
						<if condition="($u.uintegral eq 0)">很差
							<elseif condition="$u.uintegral eq 1"/>较差
							<elseif condition="$u.uintegral eq 2"/>一般
							<elseif condition="$u.uintegral eq 3"/>良好
							<else/>非常好
						</if>
					</td>
				</tr>
			</foreach>
		</table>
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				<li><a href="javascript:return false;">当前显示第<span style="color:red;">{$page.pageNo}</span>页</a></li>
			    <li>
			      	<a href="javascript:turnpage({$page.pageNo},{$page.pageSize},-1);" aria-label="Previous">
			        	<span aria-hidden="true">&laquo;</span>
			      	</a>
			    </li>
			    <li><a href="javascript:turnpage({$page.pageNo},{$page.pageSize},1);">1</a></li>
			    <li><a href="javascript:turnpage({$page.pageNo},{$page.pageSize},2);">2</a></li>
			    <li><a href="javascript:turnpage({$page.pageNo},{$page.pageSize},3);">3</a></li>
			    <li><a href="javascript:turnpage({$page.pageNo},{$page.pageSize},4);">4</a></li>
			    <li><a href="javascript:turnpage({$page.pageNo},{$page.pageSize},5);">5</a></li>
			    <li>
			      	<a href="javascript:turnpage({$page.pageNo},{$page.pageSize},0);" aria-label="Next">
			        	<span aria-hidden="true">&raquo;</span>
			      	</a>
			    </li>
			    <li><a href="javascript:return false;">共<span style="color:red;">{$page.total}</span>条数据</a></li>
			</ul>
		</nav>
	</body>
</html>